

@using Entities.Concrete
@model List<Product>


@*   <div class="container-scroller">*@


<div class="content-wrapper p-4">

    <div class="row  p-0">
        <div class="col-lg-12  stretch-card">
            <div class="card p-0" style="border:none !important;">
                <div class="card-body">

                    <div class="table-responsive">
                        <table class="table">
                            <thead class="font-weight-bolder bg-secondary">
                                <tr>
                                    <th>Id  </th>
                                    <th>ProductName</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>CreatedTime</th>
                                    <th>CategoryId</th>
                                    <th></th>

                                </tr>
                            </thead>
                            @foreach (var item in Model)
                            {
                                <tbody>
                                    <tr>
                                        <td>@item.Id</td>
                                        <td>@item.ProductName</td>
                                       
                                        <td>@item.Price</td>
                                        <td>@item.Quantity</td>
                                        <td>@item.CreatedTime</td>
                                        <td>@item.CategoryId</td>

                                        <td>
                                            <a class="btn btn-danger" asp-action="DeleteById" asp-controller="Product" asp-route-id="@item.Id">Delete</a>
                                            <a class="btn btn-warning" asp-action="UpdateProduct" asp-controller="Product" asp-route-id="@item.Id">Update</a>
                                        </td>



                                    </tr>

                                </tbody>
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>




    </div>
</div>

